name: Update README with Private Repo Info

on:
  schedule:
    - cron: "0 0 * * *" # Daily at midnight UTC
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout public repo
        uses: actions/checkout@v3

      - name: Clone private repo
        env:
          PAT: ${{ secrets.PRIVATE_PAT }}
        run: |
          git clone https://$PAT@github.com/probablyjassin/bot-mk8dx.git private-repo

      - name: Git Pull
        run: |
          git pull

      - name: Get private repo info
        id: repo_info
        run: |
          cd private-repo
          echo "commit_count=$(git rev-list --count HEAD)" >> $GITHUB_OUTPUT
          
          latest_msg=$(git log -1 --pretty=%B | tr '\n' ' ' | sed 's/%/%%/g')
          echo "latest_commit_msg=$latest_msg" >> $GITHUB_OUTPUT
          
          #echo "latest_commit_msg=$(git log -1 --pretty=%B)" >> $GITHUB_OUTPUT
          echo "latest_commit_date=$(git log -1 --date=short --pretty=format:"%ad")" >> $GITHUB_OUTPUT

          echo "user1_commits=$(git log --author="probablyjassin" --pretty=oneline | wc -l)" >> $GITHUB_OUTPUT
          echo "user2_commits=$(git log --author="kevnkkm" --pretty=oneline | wc -l)" >> $GITHUB_OUTPUT

      - name: Update README.md
        run: |
          # Remove old info section if it exists
          sed -i '/# Repository Stats/,$d' README.md

          {
            echo '# Repository Stats'
            echo "${{ steps.repo_info.outputs.commit_count }} total commits"
            echo ""
            echo "Latest commit: \${{ steps.repo_info.outputs.latest_commit_msg }}\ on ${{ steps.repo_info.outputs.latest_commit_date }}"
            echo "#### Top contributors:"
            echo ""
            echo "\probablyjassin\: ${{ steps.repo_info.outputs.user1_commits }} commits"
            echo ""
            echo "\kevnkkm\: ${{ steps.repo_info.outputs.user2_commits }} commits"
            echo ""

            echo '# What does this bot do?'
            echo ''
            echo '- let people register to the Leaderboard'
            echo '- let them join Mario Kart events'
            echo '- manage their gaming session'
            echo '- collect their points'
            echo '- calculate their new MMR'
            echo '- store all this data in a mongodb database'
            echo '- SO much more under the hood'
            echo ''
      
            echo '# The 4th Season of MK8DX-Lounge on Yuzu Online!'
            echo ''
            echo '<img width="4000" height="2812" alt="Yuzu Online Lounge Season 4 Banner" src="https://github.com/user-attachments/assets/f0ab0af9-9e22-45ad-8e8c-c10fbfc13e7f" />'
            echo ''
            echo "We're happy to present the brand new season of Lounge to you! There is many new things we prepared for you this time!"
            echo ''
            echo '## MMR reset'
            echo ''
            echo 'The MMR reset is a *significant* one this time around!'
            echo 'We used a method that **resets top rated players by a lot more** than lower rated ones.'
            echo ''
            echo 'In general:'
            echo '**The further away you were from 2000, the more you got brought towards it!**'
            echo ''
            echo 'Examples:'
            echo ''
            echo '```diff'
            echo 'bruv:'
            echo '- 12000MMR (Master Rank)'
            echo '+ 4935MMR (Gold Rank)'
            echo ''
            echo 'darling:'
            echo '- 3000MMR (Silver Rank)'
            echo '+ 2415MMR (Silver Rank)'
            echo ''
            echo 'woodlover:'
            echo '- 1MMR (Wood Rank)'
            echo '+ 1255MMR (Silver Rank)'
            echo '```'
            echo ''
            echo '## MINI MOGIS!'
            echo 'Some have been wishing for this **over a full year ago** in \\#suggestions, and due to popular demand, we finally implemented it!'
            echo ''
            echo '#### How it works:'
            echo 'When voting for the format, instead of picking FFA, 2v2, 3v3,... pick `Mini Mogi`!'
            echo ''
            echo 'Mini Mogis are always FFA, and they are **capped to 40 minutes of play time, or until you reach 6 races**! The Lounge Bot will also notify you in the mogi when the 40 minute threshold is reached. Furthermore, MMR gains/losses are reduced to 60%'
            echo ''
            echo '## RANDOM Teams!'
            echo 'While voting for the format, you can now **press `Random Teams` before you pick**, to get **fully randomized teammates** if the vote ends in **2v2 or 3v3**!'
            echo ''
            echo '## Full Format History'
            echo 'We now store which formats you played how often!'
            echo ''
            echo '## Many Bot optimizations'
            echo 'The Lounge Bot has been steadily improving all the time. For this season we make lots of improvements to the general experience, like **getting rid of the unnecessary vote when you'\''re starting with 7, 9 or 11 players**, and ma'
            echo ''
            echo '## Ujuj'\''s TABLE READER!'
            echo 'The Table Reader has finished development and works! Over the next few days, we will work hard on getting implemented right into the bot to automize tables for you!'
            echo ''
            echo '## Automated Abuse Protection!'
            echo 'We implemented complex mechanics to flag and identify players who use VPNs, Proxies, and other kinds of Applications to try and use Alt-Accounts and such.'
            echo ''
            echo '---'
            echo ''
            echo '#### That'\''s it! Now enjoy Season 4 of MK8DX-Lounge on Yuzu Online!'
          } >> README.md
